
{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      
        <!-- links -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="{% static 'ProyectoFinalApp/css/styles.css' %}" rel="stylesheet" />
      
        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet"> 
      
        <!-- scripts -->
        <script src="https://kit.fontawesome.com/f28549af1d.js" crossorigin="anonymous"></script>
      
        <!-- siteprefs -->
        <title>Lambo Motors</title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'ProyectoFinalApp/imagenes/favicon.ico' %}" />
      </head>
    <body class="separador">
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div class="container">
              <a class="navbar-brand" href="#">Concesionaria Lamborghini</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{%url 'modelos'%}">Modelos</a>
                  </li>
                  {% if user.is_authenticated%}
                  <li>
                    <div class="dropdown">
                      <button class="btn btn-outline-secondary text-white dropdown-toggle my-1" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        Perfil
                      </button>
                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><p class="text-center">Bienvenido {{user.username}}</p></li>
                        <li><a class="dropdown-item" href="{% url 'profile' %}">Ver Perfil</a></li>
                        {% if user.is_staff%}
                        <li><a class="dropdown-item" href="{% url 'panel' %}">Panel de Admin </a></li>
                        {% endif %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a></li>
                      </ul>
                    </div>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="btn btn-outline-light my-1" href="{% url 'login' %}">Ingresar</a>
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-outline-light my-1" href="{% url 'register' %}">Registrarse</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </nav>
        
        {% block contenidoPagina %}

        {% endblock %}

        <!-- Footer-->
     
<footer class="text-center text-lg-start bg-dark text-muted">
   
   
    <!-- Section: Links  -->
    <section>
      <div class="container text-center text-md-start">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 mt-3"></i>Lambo Motors
            </h6>
            <p>
              Concesionaria oficial Lamborghini Argentina.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 mt-3">
              Contacto
            </h6>
            <p><i class="fas fa-home me-3"></i> San Miguel, BSAS 1663, AR</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              ayuda@lambomotors.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 54 11-2345-6789</p>

            <div class="col-md-4 mb-5 d-flex">
              
              <h6 class="text-uppercase fw-bold mb-4 mt-3">
              </h6>
              <a><i class="fa-brands fa-instagram-square h3"></i>
              </a>
              <a>
                <i class="fa-brands fa-facebook-square ms-3 h3"></i>
              </a>
              <a>
                <i class="fa-brands fa-linkedin ms-3 h3"></i>
              </a>
              <a>
                <i class="fa-brands fa-youtube ms-3 h3"></i>
              </a>
             
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-start p-0  bg-light" style="height:25px;">
      
      <p class="text-dark text-center"> © 2022 Derechos Reservados.</p>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
      
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>