{% extends 'ProyectoFinalApp/header.html' %}

{% load static %}

{% block title %}Mi perfil{% endblock title %}
{% block contenidoPagina %}

    <div class="row my-3 p-3">
        <h1>Bienvenido a tu perfil {{user.username}}</h1>
    </div>
    <div class="row p-0 mb-5 text-center mt-5">
        <div class="my-3 p-3">
            <img style="position:absolute ;" class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " width="350" height="200" style="cursor: pointer;" alt="imagen de perfil"/>
        </div>
        {% if user_form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for key, value in user_form.errors.items %}
                        <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <div class="form-content">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="small mb-1">Nombre de usuario:</label>
                                {{ user_form.username }}
                            <label class="small mb-1">Email:</label>
                                {{ user_form.email }}
                        </div>
                        <div class="form-group">
                            <a href="{% url 'cambiar_contraseña' %}">Cambiar contraseña</a>
                            <hr>
                            <label class="small mb-1">Cambiar Avatar:</label>
                            {{ profile_form.avatar }}
                        </div>
                        <label class="small mb-1">Tu biografía:</label> {{ profile_form.bio }}
                    </div>
                </div>
                <br><br>
                <button type="submit" class="btn btn-dark btn-lg">Guardar Cambios</button>
                <button type="reset" class="btn btn-dark btn-lg">Reiniciar</button>
            </form>
        </div>
    </div>
{% endblock %}